<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Itens</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 250px;
      height: 100%;
      background-color: #f8f9fa;
      padding: 20px;
      transition: width 0.3s;
    }

    .sidebar.minimized {
      width: 80px;
    }

    .content {
      margin-left: 250px;
      padding: 20px;
    }

    @media (max-width: 768px) {
      .sidebar {
        display: none;
      }

      .content {
        margin-left: 0;
      }

      .sidebar.minimized {
        width: 0;
      }
    }
  </style>
</head>
<body>
  <div class="sidebar">
    <!-- Conteúdo da barra de navegação lateral aqui -->
  </div>

  <div class="content">
    

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1 class="mt-4">Lista de Itens</h1>
          <table id="grid-data" class="table table-condensed table-hover table-striped">
            <thead>
              <tr>
                <th data-column-id="id">Código</th>
                <th data-column-id="name" data-order="desc" data-sortable="true">Nome</th>
                <th data-column-id="description" data-sortable="true">Descrição</th>
                <th data-column-id="price" data-sortable="true">Preço</th>
                <th data-column-id="commands" data-formatter="commands" data-sortable="false">Ações</th>
              </tr>
            </thead>
            <tbody>
              <% items.forEach(item => { %>
                <tr>
                  <td><%- item.id %></td>
                  <td><%- item.name %></td>
                  <td><%- item.description %></td>
                  <td><%- item.price %></td>
                  <td>
                    <a href="/food-update/<%- item.id %>" class="btn btn-primary "><svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="white"
                      viewBox="0 0 512 512"><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg></a>  
                    <a href="#"  class="btn btn-danger delete-btn" data-id="<%- item.id %>"><svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="black"
                      viewBox="0 0 448 512"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg></a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      const deleteButtons = document.querySelectorAll('.delete-btn');
  
      deleteButtons.forEach((button) => {
        button.addEventListener('click', async () => {
          const id = button.getAttribute('data-id');

            const response = await fetch(`/food-delete/${id}`, {
              method: 'DELETE',
              headers: {
                'Content-Type': 'application/json',
              },
            });
  
          if (response.ok) {
           
            console.log('Alimento deletado com sucesso!');
            
            const row = button.parentNode.parentNode;
            row.parentNode.removeChild(row);
          } else {
           
            console.error('Erro ao deletar o alimento:', response.statusText);
          }
        });
      });
    </script>
    
    
    
    
    
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>